<!doctype html>
<html>
<head>
<title>渤海大学云课堂-课程</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Education Tutorial Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--bootstrap-->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!--coustom css-->
<link href="css/style.css" rel="stylesheet" type="text/css"/>
	<!--menu_drop css-->
	<link href="css/menu_drop.css" rel="stylesheet" type="text/css"/>
<!--script-->
<script src="js/jquery-1.11.0.min.js"></script>
<!-- js -->
<script src="js/bootstrap.js"></script>
<!-- /js -->
<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400italic,400,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--/fonts-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!--/script-->
</head>
	<body>
<!--header-->
		<div class="header" id="home">
			<nav class="navbar navbar-default">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					</button>
					<h1><a class="navbar-brand" href="index.html">渤海大学云课堂<span>Tutorial</span></a></h1>
					</div></br>
					<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right margin-top cl-effect-2">
								<li><a href="index.html"><span data-hover="Home">主页</span></a></li>
								<li><a href="about.html"><span data-hover="About">公告</span></a></li>
								<li><a href="lesson.html"><span data-hover="Shortcodes">课程</span></a></li>
								<li><a href="yuncampus.html"><span data-hover="Gallery">云校园</span></a></li>
								<li><a href="contact.html"><span data-hover="Contact">云课堂</span></a></li>
							</ul>
							<div class="clearfix"> </div>
						</div><!-- /.navbar-collapse -->
				<!-- /.container-fluid -->
				<div class="login-pop">
						<div id="loginpop">
                        <a href="#" id="loginButton">
                        
                        	<img src="images/abt1.jpg" width="100%" height="100%" title="点击可切换账号">
                        
                        </a>
								<div id="loginBox">                
									<form id="loginForm">
											<fieldset id="body">
												<fieldset>
													  <label for="email">电子邮件地址</label>
													  <input type="text" id="email">
												</fieldset>
												<fieldset>
														<label for="password">密码</label>
														<input type="password" id="password">
												 </fieldset>
												<input type="submit" id="login" value="切换账号">
												<label for="checkbox"><input type="checkbox" id="checkbox"> <i>记住我</i></label>
											</fieldset>
										<span><a href="#">忘记密码了吗?</a></span>
								 </form>
							</div>
					    </div>
					    </div><script src="js/menu_jquery.js"></script>
					    </div>
			</nav>
<!--/script-->
		   <div class="clearfix"> </div>
</div>
<!-- Top Navigation -->
<div class="banner banner6">
	<div class="container">
	<h2>课程</h2>
	</div>
</div>
<!--header-->	
<!--start-content-->
<div class="typrography">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<script type="text/javascript">
					$(function() {

						var menu_ul = $('.menu_drop2 > li > ul'),
								menu_a  = $('.menu_drop2 > li > a');

						menu_ul.hide();

						menu_a.click(function(e) {
							e.preventDefault();
							if(!$(this).hasClass('active')) {
								menu_a.removeClass('active');
								menu_ul.filter(':visible').slideUp('normal');
								$(this).addClass('active').next().stop(true,true).slideDown('normal');
							} else {
								$(this).removeClass('active');
								$(this).next().stop(true,true).slideUp('normal');
							}
						});

					});
				</script>
                
                
				<style>
					.floatright{
						float: right;
					}

				</style>
				<div class="tabs">  
					<ul class="menu_drop2">
						<li class="item1"><a href="#"><span class="glyphicon glyphicon-chevron-down">&nbsp</span>VC++面向对象与可视化程序设计</a>
							<ul class="list-group">
						    <a href="putwork.html">
								<li class="list-group-item">
									<span id="subjname">提交作业</span>
								</li>
						    </a>
							<a href="talking online.html">
								<li class="list-group-item">
									<span id="subjname">课堂交流</span>
								</li>
							</a>
							<a href="">
								<li class="list-group-item">
									<span id="subjname">课程文件</span>
								</li>
							</a>
							</ul>
						</li>
						<li class="item2"><a href="#"><span class="glyphicon glyphicon-chevron-down">&nbsp</span>数据库原理</a>
							<ul class="list-group">
								<a href="putwork.html">
								<li class="list-group-item">
									<span id="subjname">提交作业</span>
								</li>
						    </a>
						    </a>
							<a href="talking online.html">
								<li class="list-group-item">
									<span id="subjname">课堂交流</span>
								</li>
							</a>
							<a href="">
								<li class="list-group-item">
									<span id="subjname">课程文件</span>
								</li>
							</a>
							</ul>
						</li>
						<li class="item3"><a href="#"><span class="glyphicon glyphicon-chevron-down">&nbsp</span>网络安全技术</a>
							<ul class="list-group">
								<a href="putwork.html">
								<li class="list-group-item">
									<span id="subjname">提交作业</span>
								</li>
						    </a>
						    </a>
							<a href="talking online.html">
								<li class="list-group-item">
									<span id="subjname">课堂交流</span>
								</li>
							</a>
							<a href="">
								<li class="list-group-item">
									<span id="subjname">课程文件</span>
								</li>
							</a>
							</ul>
						</li>
						<li class="item4"><a href="#"><span class="glyphicon glyphicon-chevron-down">&nbsp</span>面向对象程序设计基础</a>
							<ul class="list-group">
								<a href="putwork.html">
								<li class="list-group-item">
									<span id="subjname">提交作业</span>
								</li>
						    </a>
						    </a>
							<a href="talking online.html">
								<li class="list-group-item">
									<span id="subjname">课堂交流</span>
								</li>
							</a>
							<a href="">
								<li class="list-group-item">
									<span id="subjname">课程文件</span>
								</li>
							</a>
							</ul>
						</li>
						<li class="item5"><a href="#"><span class="glyphicon glyphicon-chevron-down">&nbsp</span>操作系统</a>
							<ul class="list-group">
								<a href="putwork.html">
								<li class="list-group-item">
									<span id="subjname">提交作业</span>
								</li>
						    </a>
						    </a>
							<a href="talking online.html">
								<li class="list-group-item">
									<span id="subjname">课堂交流</span>
								</li>
							</a>
							<a href="">
								<li class="list-group-item">
									<span id="subjname">课程文件</span>
								</li>
							</a>
							</ul>
						</li>
					</ul>
				</div>

			</div>
		</div>

	</div>	 
</div>
<!--footer-->
<div class="footer">
		<!-- container -->
		<div class="container">
			<div class="col-md-6 footer-left">
				<ul>
					<li><a href="index.html">主页</a></li>
					<li><a href="about.html">公告</a></li>
					<li><a href="lesson.html">课程</a></li>
					<li><a href="yuncampus.html">云校园</a></li>
					<li><a href="contact.html">云课堂</a></li>
				</ul>
				<form>
					<input type="text" placeholder="Email：15372720381@sina.cn" required="">
					<input type="submit" value="联系我们">
				</form>
			</div>
			<div class="col-md-3 footer-middle">
				<h3>地址</h3>
				<div class="address">
					<p>辽宁省锦州市松山新区科技路19号 
						<span></span>
					</p>
				</div>
				<div class="phone">
					<p>(086)0416-3400015 </p>
				</div>
			</div>
			<div class="col-md-3 footer-right">
				<h3>详细信息</h3>
				<p>Bohai University Copyright 辽ICP备06006661号	辽公网安备 21078302000027号 </p>
			</div>
			<div class="clearfix"> </div>	
		</div>
		<!-- //container -->
	</div>
<!--/footer-->
<!--copy-rights-->
<div class="copyright">
		<!-- container -->
		<div class="container">
			<div class="copyright-left">
			<p>适应教学模式改革的课堂互动平台 made by蒋佳浩 陈泽众 纪演秋 胡晓晨 卢雪萍</p>
			</div>
			<div class="copyright-right">
				<ul>
					<li><a href="#" class="twitter"> </a></li>
					<li><a href="#" class="twitter facebook"> </a></li>
					<li><a href="#" class="twitter chrome"> </a></li>
					<li><a href="#" class="twitter pinterest"> </a></li>
					<li><a href="#" class="twitter linkedin"> </a></li>
					<li><a href="#" class="twitter dribbble"> </a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			
		</div>
		<!-- //container -->
		<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!----> 
	</div>
<!--/copy-rights-->


<script type="text/javascript">
					$(function() {

						var menu_span = $('.menu_drop2 > li > ul > li > span'),
						menu_subject_name  = $('.menu_drop2 > li > ul > li'),
						menu_subject_nameclick  = $('.menu_drop2 > li > a'),
						menu_subject  = $('#subject'),
						menu_homework  = $('#homework');
						
						menu_subject_nameclick.click(function(e) {
							var subjname = $(this).text();	
							menu_subject.attr("value",subjname);
							menu_homework.attr("value",'');
						});
						
						menu_span.click(function(e) {
							var hwname = $(this).next().text();	
							//alert(hwname);
							menu_homework.attr("value",hwname);
							
						});

					});
				</script>
	</body>
</html>
