<!doctype html>
<html>
<head>
<title>渤海大学云课堂-课程列表</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Education Tutorial Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--bootstrap-->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!--coustom css-->
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<!--script-->
<script src="js/jquery-1.11.0.min.js"></script>
<!-- js -->
<script src="js/bootstrap.js"></script>
<!-- /js -->
<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400italic,400,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--/fonts-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!--/script-->
</head>
	<body>
<!--header-->
		<div class="header" id="home">
			<nav class="navbar navbar-default">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					</button>
					<h1><a class="navbar-brand" href="index.html">渤海大学云课堂<br /><span>Tutorial</span></a></h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right margin-top cl-effect-2">
								<li><a href="index.html"><span data-hover="Home">主页</span></a></li>
								<li><a href="about.html"><span data-hover="About">公告</span></a></li>
								<li><a href="lesson.html"><span data-hover="Shortcodes">课程</span></a></li>
								<li><a href="yuncampus.html"><span data-hover="Gallery">云校园</span></a></li>
								<li><a href="contact.html"><span data-hover="Contact">云课堂</span></a></li>
							</ul>
							<div class="clearfix"> </div>
						</div><!-- /.navbar-collapse -->
				<!-- /.container-fluid -->
				<div class="login-pop">
						<div id="loginpop"><a href="#" id="loginButton"><span>登入</span></a>
								<div id="loginBox">                
									<form id="loginForm">
											<fieldset id="body">
												<fieldset>
													  <label for="email">Email Address</label>
													  <input type="text" id="email">
												</fieldset>
												<fieldset>
														<label for="password">Password</label>
														<input type="password" id="password">
												 </fieldset>
												<input type="submit" id="login" value="Sign in">
												<label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
											</fieldset>
										<span><a href="#">Forgot your password?</a></span>
								 </form>
							</div>
					    </div>
					    </div><script src="js/menu_jquery.js"></script>
					    </div>
			</nav>
<!--/script-->
		   <div class="clearfix"> </div>
</div>
<!-- Top Navigation -->
<!--header-->
<div class="banner banner6">
	<div class="container">
	<h2>课程列表</h2>
	</div>
</div>

<!--start-content-->
<div class="typrography">
	 <div class="container">
		 <div class="grid_3 grid_4">
		     <h3 class="first">课程列表</h3>
		     <div class="bs-example">
				 <table class="table">
				  <tbody>
					<tr>
					  <td><h2 id="h2.-bootstrap-heading">SQL server数据库</h2></td>
					  <td class="type-info">
				    <a href="work history.html">作业提交记录</a>
					  </td>
					</tr>
					<tr>
					  <td><h2 id="h2.-bootstrap-heading">数据库结构</h2></td>
					  <td class="type-info">
					  <a href="work history.html">作业提交记录</a>
					  </td>
					</tr>
					
				  </tbody>
				 </table>
			 </div>
	      </div>
       </div>
</div>

<!--footer-->
<div class="footer">
		<!-- container -->
		<div class="container">
			<div class="col-md-6 footer-left">
				<ul>
					<li><a href="index.html">主页</a></li>
					<li><a href="about.html">公告</a></li>
					<li><a href="lesson.html">课程</a></li>
					<li><a href="yuncampus.html">云校园</a></li>
					<li><a href="contact.html">云课堂</a></li>
				</ul>
				<form>
					<input type="text" placeholder="Email：15372720381@sina.cn" required="">
					<input type="submit" value="联系我们">
				</form>
			</div>
			<div class="col-md-3 footer-middle">
				<h3>地址</h3>
				<div class="address">
					<p>辽宁省锦州市松山新区科技路19号 
						<span></span>
					</p>
				</div>
				<div class="phone">
					<p>(086)0416-3400015 </p>
				</div>
			</div>
			<div class="col-md-3 footer-right">
				<h3>详细信息</h3>
				<p>Bohai University Copyright 辽ICP备06006661号	辽公网安备 21078302000027号 </p>
			</div>
			<div class="clearfix"> </div>	
		</div>
		<!-- //container -->
	</div>
<!--/footer-->
<!--copy-rights-->
<div class="copyright">
		<!-- container -->
		<div class="container">
			<div class="copyright-left">
			<p>适应教学模式改革的课堂互动平台 made by蒋佳浩 陈泽众 纪演秋 胡晓晨 卢雪萍</p>
			</div>
			<div class="copyright-right">
				<ul>
					<li><a href="#" class="twitter"> </a></li>
					<li><a href="#" class="twitter facebook"> </a></li>
					<li><a href="#" class="twitter chrome"> </a></li>
					<li><a href="#" class="twitter pinterest"> </a></li>
					<li><a href="#" class="twitter linkedin"> </a></li>
					<li><a href="#" class="twitter dribbble"> </a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			
		</div>
		<!-- //container -->
				<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!----> 
	</div>
<!--/copy-rights-->
	</body>
</html>
