
/*--menu-drop--*/
.menu_drop {
    width: auto;
    height: auto;
    padding: 0;
    list-style: none;
}
ul.menu_drop li.item1{
    background:rgba(0, 0, 0, 0.78);
}
ul.menu_drop li.item1 img, ul.menu_drop li.item2 img, ul.menu_drop li.item3 img, ul.menu_drop li.item4 img, ul.menu_drop li.item5 img{
    margin: -3px 10px 0 0;
}
ul.menu_drop li.item2{
    background:rgba(0, 0, 0, 0.83);
}
ul.menu_drop li.item3{
    background:rgba(0, 0, 0, 0.89);
}
ul.menu_drop li.item4{
    background:rgba(0, 0, 0, 0.94);
}
ul.menu_drop li.item5{
    background:#000;
}
ul {
    padding: 0;
    list-style: none;
}
.menu_drop > li > a {
    width: 100%;
    height: 3.2em;
    line-height: 3.5em;
    text-indent: 1.2em;
    display: block;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration:none;
}
.menu_drop ul li a {
    background: #fff;
    width: 100%;
    height: 5em;
    line-height: 1.8em;
    display: block;
    position: relative;
    font-size:13px;
    color: #878d95;
}
.menu_drop ul li a:hover{
    text-decoration:none;
}
.menu_drop > li > a:hover, .menu > li > a.active {
    background:#73b6e1;
    text-decoration:none;
}

/*--menu-drop-end--*/



/*--menu-drop2--*/
.menu_drop2 {
    width: 700px;
    height: auto;
    padding: 0;
    list-style: none;
  position: relative;
   left: 200px;   
}
ul.menu_drop2 li.item1{
    background:rgba(255, 255, 255, 0.78);
}
ul.menu_drop2 li.item1 img, ul.menu_drop2 li.item2 img, ul.menu_drop2 li.item3 img, ul.menu_drop2 li.item4 img, ul.menu_drop2 li.item5 img{
    margin: -3px 10px 0 0;
}
ul.menu_drop2 li.item2{
    background:rgba(255, 255, 255, 0.83);
}
ul.menu_drop2 li.item3{
    background:rgba(255, 255, 255, 0.89);
}
ul.menu_drop2 li.item4{
    background:rgba(255, 255, 255, 0.94);
}
ul.menu_drop2 li.item5{
    background:#FFFFFF;
}
ul {
    padding: 0;
    list-style: none;
}
.menu_drop2 > li > a {
    width: 100%;
    height: 3.2em;
    line-height: 3.5em;
    text-indent: 1.2em;
    display: block;
    position: relative;
    color: #0A0A0A;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration:none;
}
.menu_drop2 ul li a {
    background: #fff;
    width: 100%;
    height: 5em;
    line-height: 1.8em;
    display: block;
    position: relative;
    font-size:13px;
    color:#878d95;
}
.menu_drop2 ul li a:hover{
    text-decoration:none;
}
.menu_drop2 > li > a:hover, .menu > li > a.active {
    background: #43CD80 ;
    text-decoration:none;
}


/*--menu-drop2-end--*/